---
export declare type Follower = {
    profile_image: string;
    name: string;
};
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Seguidores de Twitch</title>
        <!-- <link rel="stylesheet" href="../styles/global.css" /> -->
        <style is:global>
            @import url("../styles/global.css");
        </style>
    </head>
    <body>
        <div id="followers"></div>

        <script>
            import config from "../../../backend/config";
            import type { Follower } from "./followers.astro";

            async function getFollowers() {
                try {
                    const response = await fetch("/api/followers");
                    if (!response.ok)
                        throw new Error("Error al obtener seguidores");

                    const followers = await response.json();
                    renderFollowers(followers);
                } catch (error) {
                    console.error("Error obteniendo seguidores:", error);
                }
            }

            function renderFollowers(followers: Array<Follower>) {
                const container: HTMLElement = document.getElementById(
                    "followers",
                ) as HTMLElement;
                container.innerHTML = ""; // Limpiar contenido anterior

                followers.forEach((follower: Follower) => {
                    const div = document.createElement("div");
                    div.className = "follower";
                    div.innerHTML = `
                    <img src="${follower.profile_image}" alt="${follower.name}" />
                    <p><strong>${follower.name}</strong></p>
                `;
                    container.appendChild(div);
                });
            }

            // Ejecutar la función al cargar la página y actualizar
            getFollowers();
            setInterval(getFollowers, config.TIME_UPDATE);
        </script>
    </body>
</html>
