---
const CLIENT_ID = "ug7quokyqa4a0vol1hmwclteld83x4";
const CALLBACK = "http://localhost:3000/auth/callback";
const SCOPE = "moderator:read:followers";

const authUrl = `https://id.twitch.tv/oauth2/authorize?response_type=code&client_id=${CLIENT_ID}&redirect_uri=${encodeURIComponent(CALLBACK)}&scope=${encodeURIComponent(SCOPE)}`;
---

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Iniciar sesión con Twitch</title>
	</head>

	<body data-auth-url={authUrl}>
		<script>
			window.onload = function () {
				const authUrl = document.body.getAttribute("data-auth-url");
				if (authUrl) {
					window.location.href = authUrl;
				}
			};
		</script>
	</body>
</html>
