<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Iniciar sesión con Twitch</title>
	</head>

	<body>
		<script>
			import getAuthUrl from "../utils/auth";

			window.onload = function () {
				fetch("/config")
					.then((response) => response.json())
					.then(({ clientId, callback }) => {
						if (!clientId || !callback) {
							throw new Error(
								"Error al conseguir la configuración del servidor.",
							);
						}
						const authUrl = getAuthUrl(clientId, callback);
						window.location.href = authUrl;
					})
					.catch((error) =>
						console.error(
							"Error en la carga de configuración:",
							error,
						),
					);
			};
		</script>
	</body>
</html>
